Thank you to our sponsors for providing venues for our meetups and workshops and for providing drinks. You are awesome!

<ul class="list">
  <li class="list-item">
    <a href="http://nml.co.za"><img src="/assets/img/sponsors/nml.png" alt="NML"></a>
  </li>
  <li class="list-item">
    <a href="http://22seven.com"><img src="/assets/img/sponsors/22seven.jpeg" alt="/22seven"></a>
  </li>
  <li class="list-item">
    <a href="http://friendsofdesign.net"><img src="/assets/img/sponsors/fod.jpeg" alt="Friends of Design"></a>
  </li>
  <li class="list-item">
    <a href="http://www.praekelt.org/"><img src="/assets/img/sponsors/praekelt.jpg" alt="Praekelt"></a>
  </li>
  <li class="list-item">
    <a href="https://unboxed.co/"><img src="/assets/img/sponsors/unboxed.jpeg" alt="Unboxed"></a>
  </li>
  <li class="list-item">
    <a href="http://userexperience.co.za/"><img src="/assets/img/sponsors/flow.jpeg" alt="Flow Interactive"></a>
  </li>
  <li class="list-item">
    <a href="https://www.runwaysale.co.za/customer/account/login/?_nosid=1"><img src="/assets/img/sponsors/runway-sale.jpeg" alt="Runway Sale"></a>
  </li>
  <li class="list-item">
    <a href="http://thisarmy.com/"><img src="/assets/img/sponsors/this-army.jpeg" alt="thisarmy"></a>
  </li>
  <li class="list-item">
    <a href="https://io.co.za/"><img src="/assets/img/sponsors/io.jpg" alt="io"></a>
  </li>
  <li class="list-item">
    <a href="http://www.media24.com/"><img src="/assets/img/sponsors/media24.png" alt="Media24"></a>
  </li>
</ul>
